body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#555;
	background-color:#ebebeb;
	padding:0;
	margin:0;
}

a{
	color:#0084ff
}
input{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

h1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:38px;
	font-weight:700;
	margin:100px auto 10px;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
	}
	h1 span{ color:#33b3c0; font-size:30px; font-weight:400;}
	
.client{
	font-size:11px;
	font-weight:700;
	color:#fff;
	background-color:#464646;
	/*text-transform:uppercase;*/
	padding:10px 15px;
}
	
#login{
	width:300px;	
	height:180px;
	background-color:#fff;
	margin:0px auto;
	padding:15px;
	overflow:hidden;
	border:1px solid #35b3c2;
	-moz-border-radius: 15px;
	border-radius: 15px;
	}
	
	.txf{
		width:96%;
		border:1px solid #b9b9b9;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding:5px;
		margin:4px 0 0 0;
		font-size:16px;
		font-weight:700;
		color:#555;
		}
		.txf:hover{ border-color:#35b3c2}
		.txf:focus{ border-color:#35b3c2; background-color:#ffffff; outline:none}
	
	.btn{
		font-size:13px;
		font-weight:700;
		float:right;
		color:#fff;
		cursor:pointer;
		margin:5px 0 0 0;
		padding:5px 15px;
		border:none;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color:#33b3c0;
		background: -moz-linear-gradient(100% 100% 90deg, #33b3c0, #33b3c0);
		background: -webkit-gradient(linear, left top, left bottom, from(#33b3c0), to(#33b3c0));
		}
		.btn:hover{
			background: -moz-linear-gradient(100% 100% 90deg, #f8ac56, #f8ac56);
			background: -webkit-gradient(linear, left top, left bottom, from(#f8ac56), to(#f8ac56));
		}
		
	.msg-error{
		font-size:12px;
		display:block;
		padding-top:12px;
		color:#a32828;
	}